<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- Id: com.sap:artifactory:1.0.0:settings.xml -->

    <mirrors>
        <mirror>
            <id>mirror1</id>
            <url>https://int.repositories.cloud.sap/artifactory/build-milestones/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>release.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-releases/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-releases/</url>
                </repository>
            </repositories>
            <properties>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>milestone.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-milestones/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-milestones/</url>
                </repository>
            </repositories>
            <properties>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>snapshot.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-snapshots/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://int.repositories.cloud.sap/artifactory/build-snapshots/</url>
                </repository>
            </repositories>
            <properties>
                <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                <tycho.localArtifacts>ignore</tycho.localArtifacts>
            </properties>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!--                    <properties>
                                          <sonar.jdbc.url>jdbc:mysql://ldisonarci.wdf.sap.corp:3306/sonar?useUnicode=true&amp;characterEncoding=utf8</sonar.jdbc.url>
                                          <sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
                                          <sonar.jdbc.username>sonar</sonar.jdbc.username>
                                          <sonar.jdbc.password>sonar</sonar.jdbc.password>
                                          <sonar.host.url>http://ldisonarci.wdf.sap.corp:8080/sonar</sonar.host.url>
                                          <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
                                          <tycho.localArtifacts>ignore</tycho.localArtifacts>
                                    </properties> -->
            <properties>
                <sonar.host.url>http://localhost:9000/</sonar.host.url>
            </properties>

        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>snapshot.build</activeProfile>
    </activeProfiles>
    <pluginGroups>
        <pluginGroup>com.sap.acrs</pluginGroup>
        <pluginGroup>com.sap.ldi</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>TomcatServer</id>
            <username>admin</username>
            <password>password</password>
        </server>
    </servers>
</settings>
